body, html {
    height: 90%;
    background: #f6f6f6;
}

.form-control:focus {
    border-color: #87b658;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #87b658;
    outline: 0 none;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.text-decoration {
    font-family: 'Kirang Haerang', cursive;
    font-size: 4em;
    color: #444549;
}

.round {
    width: 140px;
    height: 120px;
    border-radius: 30px;
    border: 1px solid #444549;
    box-shadow: 0 0 7px #666;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.border-around {
    width: 350px;
    background: white;

    border: 1px solid #a4a4a4;
    box-shadow: 0 0 2px #666;
    border-radius: 5px;
    padding: 10px 0;
}

.block-logo {
    margin-top: 15px;
}

.block-regist {
    padding-top: 10px;
}

.btn-color-back{
    background: #87b658;
}

.block-regist a {
    color: #87b658;

    text-decoration: none;
}
.block-error{
    margin-bottom: 20px;
    background: #ffdce0;
}

.block-logout{
    margin-bottom: 20px;
    background: #b9d8ff;
}