.menu {
    border: 1px solid #d1d5da;
}

.menu-heading {
    margin: 0;
    font-size: 1.2rem;
    background-color: #afe493;
}

.menu-item {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #d1d5da;
    color: #2c2c2c;
    text-decoration: none;
}

.menu-item:hover {
    color: black;
    text-decoration: none;
}

.menu-item:last-child {
    border-bottom: none;
}

.form-signin {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.profile-photo > img {
    width: 250px;
    height: 250px;
    border: 1px solid #d1d5da;
    border-radius: 10px;
}

.photo-btn {
    width: 250px;
    margin-top: 15px;
    border: 1px solid green !important;
}

.detail-info {
    width: 400px;
}

.change {
    width: 500px;
}

.block-change-email {
    margin-top: 20px;
}

#change-pas > button {
    width: 150px;
    margin-right: 20px;
}

.border-around {
    width: 350px;
    background: white;

    border: 1px solid #a4a4a4;
    box-shadow: 0 0 2px #666;
    border-radius: 5px;
    padding: 10px 0;
}

.block-success {
    margin-bottom: 20px;
    background: #b6ffb6;
}

.block-success > span {
    margin-left: 10px;
}