<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>

    <link href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css" type="text/css">
</head>
<body class="text-center">
<div class="main-container">
    <div class="border-around-form">
        <div>
            <img src="images/carsharing_small.png" alt="Carsharing" class="round">
            <h2 class="text-decoration">Carsharing</h2>
        </div>
        <div>
            <form class="form-signin">
                <div class="form-group">
                    <input type="email" class="form-control"
                           placeholder="Enter email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-success btn-block btn-color-back">Sign in</button>
            </form>
        </div>
    </div>

    <div class="block-regist">
        Not registered? <a href="registration_form.html">Create an account</a>
    </div>
</div>
</body>
</html>
